{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Intake{% endblock %}
{% block content %}
<div class='container mx-auto'>
  <div class='row'>
    <div class='col-md-12'>
      <form method="POST">
      	{% csrf_token %}
      	{{ form | crispy}}
      	<button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class="alert alert-success">
        <strong>Success!</strong>
      </div>
    </div>
  </div>
</div>

{% endblock %}
