{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class='container mx-auto'>
      <div class='row'>
        <div class='col-md-3'>
          <div class="card align-items-center">
            <img src="/media/{{ mentor.picture }}" style="width: 250px" class="rounded-circle" alt="Cinque Terre">
            <div class="card-body">
              <dl>
                <dt>Name</dt>
                <dd>{{user}}</dd>
                <dt>Languages</dt>
                <dd>{{mentor.languages}}</dd>
                <dt>Location</dt>
                <dd>{{mentor.location.name}}</dd>
              </dl>
              <p class="card-text">{{mentor.description}}</p>
            </div>
          </div>
          </div>
        <div class='col-md-4'>
          {% for booking in bookings %}
          <div class="card align-items-center">
            <div class="card-body">
              <img src="/media/{{ booking.oleh.picture }}" style="width: 150px" class="rounded-circle" alt="Cinque Terre">
              <dl>
                <dd class="mt-2"><h2>{{booking.oleh}}</h2></dd>
              </dl>
              <p class="card-text">{{booking.oleh.description}}</p>
              <h5>Mentorship request</h5>
              {% if booking.status == 'accepted' %}
              <a href="" class="btn btn-primary">Connect</a>
              {% elif booking.status == 'pending' %}
              <a href="{% url 'booking:accept_booking' booking.id %}" class="btn btn-primary">Accept</a>
              <a href="" class="btn btn-primary">Reject</a>
              {% else %}
               <p>Request rejected</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class='col-md-5'>
          <div class="card">
            <div class="card-body">
              <div style='text-align: center; margin-top: 20px;'>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                  Add task
                </button>
              </div>
              <dl>
                <dt>Tasks:</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sunt possimus ipsam fugiat, illo, quos minus sapiente aliquam in debitis saepe cum sed. At ut laboriosam, nulla quidem nihil dolorum?</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8 mx-auto'>
          CHAT
        </div>
      </div>
    </div>
    <div class="container">
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Title</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class='modalBody'>
                <div class='col-md-6'>
                  <label>
                    Task:
                    <input />
                  </label>
                  <label>
                    Description:
                    <textarea></textarea>
                  </label>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
