{% load static %}
<!doctype html>
<html>
  <head>
    {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- start app styles -->
      <link rel="stylesheet" href='{% static 'material-dashboard.min.css' %}' />
      <link rel="stylesheet" href='{% static 'css/list-of-mentors.css' %}' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- end app styles -->
      <!-- start app scripts -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- end app scripts -->
      <!-- start fontawesome scripts -->
      <script src="https://kit.fontawesome.com/ce042c20c8.js"></script>
      <!-- end fontawesome scripts -->

        {% block localaddons %}{% endblock %}
        <title> Mentorship | {% block title %}{% endblock %}</title>
      {% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
  </html>
