{% block footer %}
<nav class="app-nav navbar navbar-dark bg-dark p-2 pl-3 pr-3 fixed-bottom">
  <div><a class="navbar-brand" href="#">Mentorship</a></div>
  <div>©dave, sophie 'n' avi</div>
</nav>
{% endblock %}
