{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="signup-page">
    <div class="row">
      <div class="col-5 offset-2">
        <div class="jumbotron transparent d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-3"></h3>
                <h5>Mentorship: connecting olim to the right people</h5>
                {% if messages %}
                  {% for message in messages %}
                    <li {% if message.tags %} class="list-group-item list-group-item-danger {{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                
                <form class="pt-3" method="post">
                  {% csrf_token %}
                  <div class="form-group pt-2">
                    <input name="email" type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="form-group pt-2">
                    <input name="password" type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  {% if form.email.errors %}
                    <ol>
                      {% for error in form.email.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-outline-primary">Login</button>
                  </div>
                  <div class="form-group text-center pt-3">
                    Don't have an account? <a class="text-secondary" href="">Signup</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 offset-1">
      </div>
    </div>
  </div>
{% endblock %}