{% extends "base.html" %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-5 offset-3 mt-5">
        <img src="{% static 'icon/IMG_5792.jpg' %}"/>
        <body class="text-center mt-5" data-gr-c-s-loaded="true">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column mt-5">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">See you soon!</h1>
    <p class="lead">To log back in <a href="{% url 'login' %}">click here </a></p>
  </main>
</div>


</body>
      </div>
    </div>
  </div>
{% endblock %}