{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
  <div class="signup-page">
    <div class="row">
      <div class="col-6 center offset-3">
        <div class="jumbotron transparent d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-3"></h3>
                <h3>Sign up</h3>
                {% if messages %}
                  {% for message in messages %}
                    <li {% if message.tags %} class="list-group-item list-group-item-danger {{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                
                <form class="pt-3" method="post">
                  {% csrf_token %}
                  <div class="form-group pt-2">
                    <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First Name">
                  </div>
                  <div class="form-group pt-2">
                    <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Last Name">
                  </div>
                  <div class="form-group pt-2">
                    <input name="email" type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="form-group pt-2">
                    <input name="password" type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  {% if form.email.errors %}
                    <ol>
                      {% for error in form.email.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                  
                  
                  <div class="form-group pt-2">
                    <div class="form-group row">
                      <div class="col-12 text-center alert">

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="user_type" id="inlineRadio1" value="oleh" active>
                          <label class="form-check-label" for="inlineRadio1">Oleh</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="user_type" id="inlineRadio2" value="mentor">
                          <label class="form-check-label" for="inlineRadio2">Mentor</label>
                        </div>                      
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-outline-primary">Create account</button>
                  </div>
                  <div class="form-group text-center pt-3">
                    Already have an account? <a class="text-secondary" href="">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 offset-1">
      </div>
    </div>
  </div>
{% endblock %}