{% block content %}
    <div>
      <h3 class="mt-3">{{chat.name}} Chat with your mentor {% if request.user == chat.users.last %}
        {{chat.users.first.first_name}} {{chat.users.first.last_name}}
      {% else %}
        {{chat.users.last.first_name}} {{chat.users.first.last_name}}
      {% endif %}</h3>
      <hr />
    </div>
    <div style="height: 75vh">
      <div >

        {% for message in chat.message_set.all %}
          {% if request.user == message.sender %}
            <div class="card-body bg-info p-1 m-1 rounded">
              <h6>You<cite class="text-secondary">~{{message.timestamp | timesince}} ago</cite>
              </h6>
              <p>{{message.content}}</p>
            </div>
          {% else %}
            <div class="card-body bg-secondary p-1 m-1 rounded">
              <h6>{{message.sender.first_name}} {{message.sender.last_name}} <cite class="grey-text darken-1">~{{message.timestamp | timesince}} ago</cite></h6>

              <p>{{message.content}}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div>
      <form method="POST" class="col-12">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-11 mx-auto">

            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" placeholder="Start typing your message..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary mx-auto mb-3">Send</button>
        </div>
      </form>
    </div>
{% endblock %}
