{% extends "base.html" %}
{% block title %}Choose your mentor{% endblock %}
{% block content %}
  <div class='container mx-auto'>
    <div class="row">
      {% for mentor in mentor_list%}
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://thelogo.shop/wp-content/uploads/2016/12/03-Smiling-Face.png" class="card-img-top" alt="mentor-photo">
            <div class="card-body">
              <h5 class="card-title">{{mentor.user.first_name}} {{mentor.user.last_name}}</h5>
              <p class="card-text">{{mentor.description}}</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{mentor.id}}">
              Open modal
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- The Modal -->
          <div class="modal" id="myModal{{mentor.id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{mentor.user.first_name}} {{mentor.user.last_name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class='modalBody'>
                    <div class='col-md-6'>
                      <img src="https://thelogo.shop/wp-content/uploads/2016/12/03-Smiling-Face.png" class="card-img-top" alt="mentor-photo">
                    </div>
                    <div class='col-md-6'>
                      <ul>
                        <li>
                          {{mentor.location.name}}
                        </li>
                        <li>
                          {{mentor.languages.first.name}}
                        </li>
                        <li>
                          coming soon..
                        </li>
                        <ul>
                        </div>
                      </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <a href="{% url 'booking:create_booking' mentor.id %}" type="button" class="btn btn-primary" data-dismiss="modal">Let's Meet!</a>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}