{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include "navbar.html" %}

<div class='container mx-auto'>
  <div class="row justify-content-between">
    <div class="col-md-6" style="border: 1px solid lightgray; border-radius: 5px;">
      {% include "chat.html" %}
    </div>
    <div class="col-md-5 col-lg-5 float">
      <h3 class="card-title mb-3">Upcoming tasks</h3>
      {% for task in tasks %}
      <div class="card" style="width:400px">
        <div class="card-body">
          <h5 class="card-title">{{task.value}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="mt-5">  
  <div class="row">
      {% for event in events %}
    <div class="col-md-6">
      <div class="card" style="width:500px; margin: 20px;">
        <img class="card-img-top" src="{{event.picture}}" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">{{event.title}}</h4>
          <p class="card-text">{{event.datetime}}</p>
          <p class="card-text">@{{event.location.name}}</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
      {% endfor %}
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
{% endblock %}
